<div>
  <div class="container">
    <div>
      <input [(ngModel)]="newTask">
      <button mat-button color="primary" (click)="addCard()">
        Dodaj
      </button>
      <button (click)="getPosts()">
        Show Words
      </button>
    </div>
  </div>

  <p>Add a new card</p>
  <div>
    <form [formGroup]="cardForm">
      <div>
        <label>hearWord</label>
        <input formControlName="hearWord" type="text" class="form-control" placeholder="model">
      </div>
      <div>
        <label>polishWord</label>
        <input formControlName="polishWord" type="text" class="form-control" placeholder="model">
      </div>
      <div>
        <label>pureWord</label>
        <input formControlName="pureWord" type="text" class="form-control" placeholder="model">
      </div>
      <div>
        <label>story</label>
        <input formControlName="story" type="text" class="form-control" placeholder="model">
      </div>
      <div>
        <button type="submit">Add Card</button>
      </div>
    </form>
    <pre>{{cardForm.value | json}}</pre>
  </div>

  <div class="container">

    <div>
      <ul>
        <li *ngFor="let card of taskList">
          {{card}}
        </li>
      </ul>
    </div>
    <div>
      Zadania wykonane
      <div>
        <ul>
          <li *ngFor="let card of cards">
            {{card.hearWord}}
            {{card.polishWord}}
            {{card.pureWord}}
            {{card.story}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-cards-list> lala</app-cards-list>
</div>
