<div>
  <div class="container">

    <div>
      <input [(ngModel)]="newTask">
      <button (click)="add()">
        Dodaj
      </button>
      <button (click)="getPosts()">
        GET
      </button>
    </div>
  </div>

  <div class="container">

    <div>
<ul>
  <li *ngFor="let card of taskList">
    {{card}}
  </li>
</ul>
    </div>

    <div>
      Zadania wykonane
      <div>
        <ul>
          <li *ngFor="let card of cards">
            {{card.hearWord}}
            {{card.polishWord}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
