<div>
  <div class="container">
    <div>
      <button (click)="getPosts()">
        Show Words
      </button>
    </div>
  </div>

  <p>Add a new card</p>
  <div>
    <form [formGroup]="cardForm">
      <div>
        <label class="radLabel">hearWord</label>
        <input formControlName="hearWord" type="text" class="form-control" placeholder="model">
      </div>
      <div>
        <label>polishWord</label>
        <input formControlName="polishWord" type="text" class="form-control" placeholder="model">
      </div>
      <div>
        <label>pureWord</label>
        <input formControlName="pureWord" type="text" class="form-control" placeholder="model">
      </div>
      <div>
        <label>story</label>
        <input formControlName="story" type="text" class="form-control" placeholder="model">
      </div>
      <div>
        <button type="submit" (click)="addCard()">Add Card</button>
      </div>
    </form>
    <pre>{{cardForm.value | json}}</pre>
  </div>

  <div>
    <button (click)="coverCards()">
      Cover Words
    </button>
  </div>
<app-cards-list [cards]="cards"></app-cards-list>
</div>
